/* Logo */
body {
  background-color: rgb(255,255,255);
}

[data-testid="stSidebar"] {
  background-image: url(https://v.fastcdn.co/u/c2e5d077/58473217-0-Logo.png);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}



/* Métricas (st.metric) */
div[data-testid="metric-container"] {
  background-color: #f0f2f6;  /* Fondo gris claro */
  border: 1px solid rgba(0, 0, 0, 0.1);  /* Borde suave */
  padding: 10px;  /* Espaciado interior */
  border-radius: 10px;  /* Bordes redondeados */
  color: black;  /* Texto negro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra ligera */
}

/* Ajuste de contenedor principal */
div.block-container.css-18e3th9.egzxvld2 {
  margin-top: -5em;
}

/* Ocultar menú y footer */
div.css-r698ls.e8zbici2 {
  display: none;
}
footer.css-ipbk5a.egzxvld4, footer.css-12gp8ed.eknhn3m4 {
  display: none;
}
div.vg-tooltip-element {
  display: none;
}
